body{

  font-family: Comic Sans MS;

}


.cabeçalho{

 background-color: brown;
 color: gold;
 height: 60px;
 font-size: 30px;

}
.banner:hover{

    border-color: rgb(85, 57, 6);
    background-color:purple;
    color: rgb(255, 169, 8);
    margin: 10px 20px;
    

}
.banner{

 background-color: brown;
 border: 2px solid black;
 border-radius: 25px;
 margin: 10px 50px;
 padding: 10px;
 color: gold;
 cursor: pointer;
 transition: 0.2s;
    

}
#centralizado{

    text-align: center;

}
#destacado{
    color: red;
   

}
.rodapé{

    background-color: brown;
    padding: 5px;
    color: gold;

}
.rodapé:hover{
    color: blue;



}