body{

    font-family: comic sans ms;
    background-color: rgb(37, 47, 61);
   
}
.pai{

 background-color: blueviolet;
 border: 7px  solid black;
 color: gold;
 font-size: 30px;
 height: 150px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 20px;
}

.pai > div{

   background-color: brown;
   border: 2px solid white;
   height: 50px;
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 1s;

}

.pai > div:hover{
    height: 80px;
    width: 80px;
}